/* *****************************start header ****************************/
.header {
    height: 55vh;               /*this will make it go top left corner light green to bottom right dark green*/
    background-image: linear-gradient(to right bottom, 
        rgba($color-primary-light, .8), 
        rgba($color-primary-dark, .8)), 
        url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top; /*this ensures img stays at top*/
               
                    /* 0 0 means stay in same place (x y)
                    *  100% means 100% of the given width which since
                    * there is padding its not all of the page
                    * the numbers represent x,y values for the 
                    *4 corners
                    */
    //use webkit to make it available for all browsers
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {// we use supports when it doesn't work in some browsers
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

                        //2x screen       width must be > 600px
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em)  {//whenever resolution is higher than 192dpi then this code applies
        //high resolution screen which is used as a reference
        background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .8), 
            rgba($color-primary-dark, .8)), 
            url(../img/hero.jpg);
        
    }
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    /*********start logo*****/
    &__logobox {
        position: absolute;
    top: 4rem;
    left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    /*********end logo*****/
    /********start textbobx********/
    &__text-box {
        position: absolute;
        top: 40%; /*this one and one below are in 
        relation to parent element*/
        left: 50%;
        transform: $center-me; /*x, y -50% shifts it half of the way to the left and same with height*/
        text-align: center; /*this works for the button because
                            it acts as if it is text*/
    }
}