/*animation for text boxes*/
@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% { /*this makes it go 10px to the right 
        before it goes back to the home area*/
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% { /*this makes it go 10px to the right 
        before it goes back to the home area*/
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveinbottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}