.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px; 
    box-shadow: $shadow-1;
    transition: all .2s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        display: inline-block;//must do this so it fits whole element
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        // then must make the text transparent to see gradient
        color: transparent;
        @include respond(tab-port) {
            margin-bottom: 0;
        }


    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

}